/* exported css for PSD.psd */


body,html { width:100%;height:100%; }
div>img { width:100%;height:100%; }


body { margin: 0px; padding:0px; background: hsl(229, 47%, 9%); }


.wrap {
    position: relative;
}


.test_img_11 {
    position: absolute;
    top:    0px;
    left:   0px;
    height: 1206px;
    width:  750px;
    background: url(../imgs/test_img_11.png) no-repeat;
    background-size: 100% 100%;
}


.test_img_10 {
    position: absolute;
    top:    100px;
    left:   645px;
    height: 248px;
    width:  82px;
    background: url(../imgs/test_img_10.png) no-repeat;
    background-size: 100% 100%;
}


.test_img_9 {
    position: absolute;
    top:    727px;
    left:   0px;
    height: 248px;
    width:  61px;
    background: url(../imgs/test_img_9.png) no-repeat;
    background-size: 100% 100%;
}


.test_img_8 {
    position: absolute;
    top:    18px;
    left:   493px;
    height: 233px;
    width:  135px;
    background: url(../imgs/test_img_8.png) no-repeat;
    background-size: 100% 100%;
}


.test_img_7 {
    position: absolute;
    top:    747px;
    left:   0px;
    height: 288px;
    width:  258px;
    background: url(../imgs/test_img_7.png) no-repeat;
    background-size: 100% 100%;
}


.test_img_6 {
    position: absolute;
    top:    251px;
    left:   469px;
    height: 288px;
    width:  258px;
    background: url(../imgs/test_img_6.png) no-repeat;
    background-size: 100% 100%;
}


.test_img_5 {
    position: absolute;
    top:    175px;
    left:   111px;
    height: 492px;
    width:  639px;
    background: url(../imgs/test_img_5.png) no-repeat;
    background-size: 100% 100%;
}


.test_img_4 {
    position: absolute;
    top:    728px;
    left:   417px;
    height: 231px;
    width:  285px;
    background: url(../imgs/test_img_4.png) no-repeat;
    background-size: 100% 100%;
}


.test_img_3 {
    position: absolute;
    top:    575px;
    left:   0px;
    height: 152px;
    width:  315px;
    background: url(../imgs/test_img_3.png) no-repeat;
    background-size: 100% 100%;
}


.test_img_2 {
    position: absolute;
    top:    93px;
    left:   67px;
    height: 108px;
    width:  205px;
    background: url(../imgs/test_img_2.png) no-repeat;
    background-size: 100% 100%;
}


.test_img_1 {
    position: absolute;
    top:    216px;
    left:   69px;
    height: 66px;
    width:  136px;
    background: url(../imgs/test_img_1.png) no-repeat;
    background-size: 100% 100%;
}


.test_XIAN {
    position: absolute;
    top:    224px;
    left:   211px;
    height: 22px;
    width:  69px;
    background: url(../imgs/test_XIAN.png) no-repeat;
    background-size: 100% 100%;
}


.test_3 {
    position: absolute;
    top:    986px;
    left:   215px;
    height: 58px;
    width:  320px;
    background: url(../imgs/test_3.png) no-repeat;
    background-size: 100% 100%;
}
